*{
    padding: 0;
    margin: auto;
}

.container{
    width: 80%;
}

#navbar{
    background-color: white;
    overflow: hidden;
}

.logo{
    float: left;
    margin-top: 10px;
    color: white;
}

.square{
    width: 100%;
    border-radius: 15px;
    background-color: #1d222b;
    
    position: relative;
    top: 15px;
}

.link{
    color: white;
    text-decoration: none;
}

.search{

}

.menu{
    float: right;
}

.menu ul li{
    float: left;
    list-style-type: none;
}

.menu a{
    padding: 20px 15px;
    display: block;
    text-decoration: none;
    color: black;
    font-family: verdana;
}

.menu a:hover{
    color: rgb(0, 0, 0);
    background-color: beige;
}

#header{
    background-image: url("pict assets/about.jpg");
    height: 500px;
    background-size: cover;
    font-size: 1rem;
    text-align: center;
    font-weight: 900;
    text-transform: uppercase;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: blue;
    
}

#header h1{
    font-size: 50px;
    margin-top: 10px;
}

#content {
    background-color: rgb(0, 0, 0); 
    text-align: center;
    display: grid;
    grid-gap: 12px;
    
}

.populer {
    text-align: center;
    margin-top: 3em;
   
}

.populer::before {
    top: 2.5em;
    background-color: silver;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    transform: rotate(360deg);
  }

  .favorite
                .produk_box{
                    width: 80%;
                    height: 100%;
                    border: 25px;
                    border-radius: 10px;
                    background-color: #1d222b;
                    transition-duration: 0.3s;
                }

                .produk_hover{
                        border-radius: 5px;
                        background-color: #242640;
                }
                
                .box_content{
                        position: relative;
                        top: 18px;
                }
                .box_img{
                        border-radius: 10px;
                        width: 75%;
                        height: auto;
                        transition-duration: 0.3s;
                }
                .box_img:hover{
                        border-radius: 5px;
                }
                .box_text{
                        position: relative;
                        top: 0px;
                        left: 10px;
                        bottom: 5px;
                        text-align: center;
                }       
                .box_text2{
                        padding: 0;
                        position: relative;
                        bottom: 10px;
                        text-align: center;                     
                }


.row3{
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
}

.row6{
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr 2fr 2fr;
}

.row2{
    display: grid;
    grid-template-columns: 2fr 2fr;
    width: 70%;
}

.row3{
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    width: 50%;
    
}

.row3{
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    width: 100%;
}

.col{
    padding: 8px;
}

.card {
    background-color: burlywood;
    padding-top: 50px;
    border-radius: 30px;

}

#About {
  background-color:  white;
  color: purple;
  overflow: hidden;
  margin-bottom: 2rem;
}

.About1{
    position: relative;
    padding: 5px;
   top: 10px;
   right: 20px;
   float: left;
   width: 20%;
   background-color: beige;
}

.About2{
   float: left;
   width: 80%;
   background-color: beige;
}

.card-about{
    background-color: beige;
    padding: 2.5rem;
    border-radius: 1.2rem;
}

#iklan {
    background-color: rgb(0, 0, 0,)
    text-align: center;
    color: blue;
    text-decoration: blueviolet;
    overflow: hidden;
    margin-bottom: 2rem;
}

.iklan1{
    float: left;
    width: 20%;
    background-color: rgb(0, 0, 0,)
}

.iklan2{
    float: left;
    width: 100%;
    background-color: rgb(0, 0, 0,);
}
.row2{
    display: grid;
    grid-template-columns: 2fr 2fr;
    width: 70%;
}
.col{
    padding: 20px;
}

.card-iklan{
    background-color: bisque;
    width: 80%;
    align-items: 10;
    padding: 3.5rem;
    border-radius: 1.2rem;
}